frontend/node_modules/
frontend/.gitignore
__pycache__/
*.pyc
.git/
.gitignore
.vscode/
.idea/
*.md
app/uploads/*.jpg
app/uploads/*.jpeg
app/uploads/*.png
app/results/*.jpg
app/results/*.jpeg
app/results/*.png
